# /*
# !.vscode/
# !.vscode/launch.json
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/extensions.json
# !CMakeLists.txt
# !Apps/
# !Core/
# !README.md
# !Estructura_Codigo.md
# !faderbay.ioc

Drivers/
build/
CMakeFiles/
cmake/stm32cubemx/cmake_install.cmake
CMakeCache.txt
cmake_install.cmake